<a href="https://colab.research.google.com/github/ssrbazpur/BigQuery/blob/master/Model_Building_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import sys
from google.cloud import bigquery
from google.colab import auth
auth.authenticate_user()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/content/drive/My Drive/Data Science/nyc-taxi-265120-baf9a3e4cf9b.json"
%reload_ext google.cloud.bigquery

In [0]:

project_id = 'nyc-taxi-265120' #@param{type:"string"}
from google.cloud import bigquery
#from google.cloud import bigquery_storage_v1beta1
# Create BigQuery client
client = bigquery.Client(project = project_id)
# Create BigQuery storage client
#bq_storage_client = bigquery_storage_v1beta1.BigQueryStorageClient()

<h3> Collecting Data Prepared </h3>

In [0]:
#2018 DATA
query = """
with wd as (
    SELECT 
        cast(year as STRING) as year,
        EXTRACT (DAYOFYEAR FROM CAST(CONCAT(year,'-',mo,'-',da) AS TIMESTAMP)) AS daynumber, 
        MIN(EXTRACT (DAYOFWEEK FROM CAST(CONCAT(year,'-',mo,'-',da) AS TIMESTAMP))) dayofweek,
        MIN(min) mintemp, MAX(max) maxtemp, MAX(IF(prcp=99.99,0,prcp)) rain
    FROM `bigquery-public-data.noaa_gsod.gsod2018`
    WHERE stn='725030'   --station id 725030=LaGuardia
    GROUP BY 1,2 
  
  -- TAXI DATA
  ),
TD AS(

SELECT  zone_id, time, pickups ,CAST(EXTRACT (YEAR from time) AS STRING) AS year,EXTRACT (DAYOFYEAR from time) AS daynumber,EXTRACT (HOUR from time) AS hour from `nyc-taxi-265120.hello.2018Data` ),points AS
(SELECT *,ST_CENTROID(zone_geom) as p FROM `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`)


SELECT 
td.year,
points.zone_id,

td.time,
td.daynumber,
td.hour,
cast(wd.dayofweek as STRING) as dayofweek, 
    wd.mintemp, 
    wd.maxtemp,
    wd.rain,
 td.pickups,

   ST_X(p) as longitude,
  ST_Y(p) as latitude
 
  FROM wd, td INNER JOIN points ON points.zone_id=td.zone_id
  where wd.year = td.year AND
  wd.daynumber = td.daynumber
  group by year,zone_id,time,daynumber,hour,pickups,longitude,latitude,dayofweek, mintemp, maxtemp, rain

"""
df1 = client.query(query).to_dataframe()

In [0]:
#2019 DATA
query = """
with wd as (
    SELECT 
        cast(year as STRING) as year,
        EXTRACT (DAYOFYEAR FROM CAST(CONCAT(year,'-',mo,'-',da) AS TIMESTAMP)) AS daynumber, 
        MIN(EXTRACT (DAYOFWEEK FROM CAST(CONCAT(year,'-',mo,'-',da) AS TIMESTAMP))) dayofweek,
        MIN(temp) temp,MIN(min) mintemp, MAX(max) maxtemp, MAX(IF(prcp=99.99,0,prcp)) rain
    FROM `bigquery-public-data.noaa_gsod.gsod2019`
    WHERE stn='725030'   --station id 725030=LaGuardia
    GROUP BY 1,2 
  
  -- TAXI DATA
  ),
TD AS(

SELECT  zone_id, time, pickups ,CAST(EXTRACT (YEAR from time) AS STRING) AS year,EXTRACT (DAYOFYEAR from time) AS daynumber,EXTRACT (HOUR from time) AS hour from `nyc-taxi-265120.hello.test_table` ),points AS
(SELECT *,ST_CENTROID(zone_geom) as p FROM `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`)


SELECT 
td.year,
points.zone_id,

td.time,
td.daynumber,
td.hour,
cast(wd.dayofweek as STRING) as dayofweek, 
   wd.temp,
    wd.mintemp, 
    wd.maxtemp,
    wd.rain,
    
 td.pickups,

    ST_X(p) as longitude,
  ST_Y(p) as latitude
 
  FROM wd, td INNER JOIN points ON points.zone_id=td.zone_id
  where wd.year = td.year AND
  wd.daynumber = td.daynumber
  group by year,zone_id,time,daynumber,hour,pickups,longitude,latitude,dayofweek,temp, mintemp, maxtemp, rain

"""
df2 = client.query(query).to_dataframe()

In [0]:
#DROP p
df1.drop('P', axis=1, inplace=True)
df2.drop('P', axis=1, inplace=True)

In [25]:
df2.head()

   year zone_id                      time  ...  pickups  longitude  latitude
0  2019       1 2019-01-01 00:00:00+00:00  ...      0.0 -74.174002  40.69183
1  2019       1 2019-01-01 01:00:00+00:00  ...      0.0 -74.174002  40.69183
2  2019       1 2019-01-01 03:00:00+00:00  ...      0.0 -74.174002  40.69183
3  2019       1 2019-01-01 04:00:00+00:00  ...      0.0 -74.174002  40.69183
4  2019       1 2019-01-01 07:00:00+00:00  ...      0.0 -74.174002  40.69183

[5 rows x 13 columns]

In [0]:
df2.drop('time', axis=1, inplace=True)
df1.drop('time', axis=1, inplace=True)

In [0]:
df2["zone_id"] = df2["zone_id"].astype(int)
df2["dayofweek"] = df2["dayofweek"].astype(int)

In [0]:
df1["zone_id"] = df1["zone_id"].astype(int)
df1["dayofweek"] = df1["dayofweek"].astype(int)

In [0]:
finaldf=pd.concat([df1, df2])

In [12]:
finaldf.head()

   year  zone_id  daynumber  hour  dayofweek  mintemp  maxtemp  rain  pickups
0  2018        1          1     0          2      8.1     21.9   0.0      0.0
1  2018        1          1     1          2      8.1     21.9   0.0      0.0
2  2018        1          1     2          2      8.1     21.9   0.0      0.0
3  2018        1          1     5          2      8.1     21.9   0.0      0.0
4  2018        1          1    19          2      8.1     21.9   0.0      0.0

In [22]:
import pandas_gbq as gbq
gbq.to_gbq(finaldf, 'hello.exploredata', 'nyc-taxi-265120', if_exists='replace')

1it [00:38, 38.68s/it]

In [13]:
finaldf.to_excel("/content/drive/My Drive/Data Science/explore.xlsx")

ValueError: ignored

In [0]:
y=finaldf['pickups']
X=finaldf.drop('pickups', axis=1)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [0]:
from sklearn.linear_model import LogisticRegression
import xgboost as xgb
from sklearn.metrics import accuracy_score
import lightgbm as lgb

In [0]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)

KeyboardInterrupt: ignored

TRAIN 2019 DATA ONLY

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925925 entries, 0 to 925924
Data columns (total 13 columns):
year         925925 non-null object
zone_id      925925 non-null object
time         925925 non-null datetime64[ns, UTC]
daynumber    925925 non-null int64
hour         925925 non-null int64
dayofweek    925925 non-null object
temp         925925 non-null float64
mintemp      925925 non-null float64
maxtemp      925925 non-null float64
rain         925925 non-null float64
pickups      925925 non-null float64
longitude    925925 non-null float64
latitude     925925 non-null float64
dtypes: datetime64[ns, UTC](1), float64(7), int64(2), object(3)
memory usage: 91.8+ MB

In [27]:
df2.head()

   year zone_id                      time  ...  pickups  longitude  latitude
0  2019       1 2019-01-01 00:00:00+00:00  ...      0.0 -74.174002  40.69183
1  2019       1 2019-01-01 01:00:00+00:00  ...      0.0 -74.174002  40.69183
2  2019       1 2019-01-01 03:00:00+00:00  ...      0.0 -74.174002  40.69183
3  2019       1 2019-01-01 04:00:00+00:00  ...      0.0 -74.174002  40.69183
4  2019       1 2019-01-01 07:00:00+00:00  ...      0.0 -74.174002  40.69183

[5 rows x 13 columns]

In [0]:
#DROP p
df2.drop('mintemp', axis=1, inplace=True)
df2.drop('maxtemp', axis=1, inplace=True)
df2.drop('latitude', axis=1, inplace=True)
df2.drop('longitude', axis=1, inplace=True)
df2.drop('time', axis=1, inplace=True)

In [30]:
df2.head()

   year zone_id  daynumber  hour dayofweek  temp  rain  pickups
0  2019       1          1     0         3  51.1  1.39      0.0
1  2019       1          1     1         3  51.1  1.39      0.0
2  2019       1          1     3         3  51.1  1.39      0.0
3  2019       1          1     4         3  51.1  1.39      0.0
4  2019       1          1     7         3  51.1  1.39      0.0

In [0]:
df2["zone_id"] = df2["zone_id"].astype(int)
df2["dayofweek"] = df2["dayofweek"].astype(int)

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925925 entries, 0 to 925924
Data columns (total 8 columns):
year         925925 non-null object
zone_id      925925 non-null int64
daynumber    925925 non-null int64
hour         925925 non-null int64
dayofweek    925925 non-null int64
temp         925925 non-null float64
rain         925925 non-null float64
pickups      925925 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 56.5+ MB

In [0]:
df2["year"] = df2["year"].astype(int)

In [0]:

y=df2['pickups']
X=df2.drop('pickups', axis=1)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [36]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [0]:
a=rf.predict(X_test)

In [40]:
from sklearn.metrics import mean_squared_error
print('The rmse of prediction is:', mean_squared_error(y_test, a) ** 0.5)

The rmse of prediction is: 15.049406648468416

In [55]:
print(int(rf.predict([[2019,248,135,21,4,50,0.2]])))

0

In [49]:
X_test.head()

        year  zone_id  daynumber  hour  dayofweek  temp  rain
837074  2019      187        135    21          4  53.8  0.21
238577  2019       99         39    17          6  45.0  0.33
485529  2019       40         79    10          4  43.7  0.00
612843  2019      168         99    20          3  47.0  0.02
602316  2019      248         97    13          1  55.6  0.00

In [53]:
y_test.head()

837074    0.0
238577    0.0
485529    4.0
612843    1.0
602316    0.0
Name: pickups, dtype: float64

In [0]:
round_off_values = np.round_(a)

In [0]:
import lightgbm as lgb
print("Fitting...")
parameters = gbm.fit( X_train, y_train )
print("Fitted...")